.loginFormContainer {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.loginFormCard {
  width: 100%;
  max-width: 28rem;
  background-color: var(--color-base-200); /* Changed to a slightly lighter base color */
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
  color: var(--color-base-content);
}

.loginFormCardBody {
  padding: 1.5rem;
}

.loginFormTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.loginFormSelect {
  width: 100%;
  border-width: 1px;
  border-color: var(--color-base-200);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
}

.loginFormSelectPopover {
  background-color: var(--color-base-100);
  border: 1px solid var(--color-base-200);
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 10;
}

.loginFormSelectItem {
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  color: var(--color-base-content);

  &:hover {
    background-color: var(--color-base-200);
  }
}

.loginFormButton {
  background-color: var(--color-secondary); /* Gruvbox Orange */
  color: var(--color-base-100);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary); /* Darker Gruvbox Orange/Brown for hover */
  }
}
